name: "CI"
on:
  pull_request:
    types: [opened, synchronize]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24
          package-manager-cache: false
      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: "8.2"
          extensions: sockets
          coverage: none
      # Git safe.directory の設定
      - name: Mark repo as safe for git
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      # Composer install
      - name: Install dependencies
        uses: php-actions/composer@8a65f0d3c6a1d17ca4800491a40b5756a4c164f3 # v6
        with:
          php_version: "8.2"
          php_extensions: sockets
          working_dir: apps/anime-site-backend
      - name: enable corepack
        run: corepack enable
      - name: yarn set v4
        run: yarn set version stable
      - name: yarn install
        run: yarn install
      - name: yarn check
        run: yarn check
